<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Yet Another Ruby Blog</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/yarbl.css" />
  </head>
  <body>
    <div id="wrapper">
	  <div id="header">
        <div id="menubar">
          <span class="menuitem"><%= link_to "Home", root_url %></span>
          <span class="menuitem"><%= link_to "Blogs", blogs_url %></span>
          <span class="menuitem">
            <% if @user %>
              <%=@person.sur_name%> - <%=link_to "Log out!", BeeU.logout(request)%>
            <% else %>
              <%=link_to "Log in!", BeeU.login(request)%>
            <% end -%>
          </span>
        </div>
      </div>

	  <div id="main">
        <%=yield%>
      </div>

	  <div id="footer">
		<div class="footerparts">
          <br />
		  <div>
            <a href="http://yarubyblog.appspot.com">Yet Another Ruby Blog</a>.<br />&copy; Copyright <a href="http://olabini.com">Ola Bini</a>, all rights reserved
          </div>
		</div>
	  </div>
    </div>
  </body>
</html>
